streamlit
sounddevice
numpy
scipy
requests
python-dotenv
deepgram-sdk==4.6.0
soundfile
webrtcvad
transformers
torch
torchaudio
huggingface-hub
git+https://github.com/hexgrad/Kokoro.git
git+https://github.com/hexgrad/misaki.git
https://github.com/pipecat-ai/pipecat.git
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl


