streamlit
pipecat
sounddevice
numpy
scipy
simpleaudio
requests
python-dotenv
deepgram-sdk==4.6.0
soundfile
webrtcvad
transformers
torch
torchaudio
huggingface-hub
git+https://github.com/hexgrad/Kokoro.git


